.header{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
.header h1{
    font-size: 3rem;
    font-weight: 2rem;
    font-family: fantasy;
}
.para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    text-decoration: underline;
    color: rgb(220, 200, 200);
}
@media screen and (min-width : 900px) {
    .header{
        width: 100%;
    }
    .para{
        color: black;
    }
}