*{
  margin: 0;
  padding: 0;
}

/* .app { */
  /* background:liner-gradient (to right bottom, #c1b382, #c8398666); */
  /* width: 100%;
  min-height: 40vh; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  background-color: #c8398666; */
/* } */
/* form{
  display: flex;
  width: 12%;
  margin: 26px auto;
  justify-content: space-between;
}
::placeholder {
  font-size : 25px;
  letter-spacing: 3px solid #ddd;
  color: 
} */